#container {
    scale: 1.1;
    padding-right: 2rem;
}

.pieChart {
    --text-color: var(--text-black);
    outline: none;
}

.pieChart ul {
    padding: 0px;
    margin: 0px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Small Mobile */
@media (max-width: 350px) {
    #container {
        scale: 0.73;
    }
}

/* Mobile */
@media (min-width: 351px) and (max-width: 700px) {
    #container {
        scale: 0.9;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}