.radarChart {
    scale: 0.95;
}

.radarChart text {
    fill: var(--text-color);
}

.radarChart line {
    stroke: var(--text-color);
    opacity: 0.8;
}

.radarChart path {
    stroke: var(--text-color);
    opacity: 0.8;
}

/* Small Mobile */
@media (max-width: 350px) {
    .radarChart {
        scale: 0.57;
    }
}

/* Mobile */
@media (min-width: 351px) and (max-width: 700px) {
    .radarChart {
        scale: 0.73;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}