.noSessionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100vw;
    height: 100vh;
    background-color: var(--global-black);
    gap: 1rem;
}

.logo {
    margin-top: 20vh;
    width: 50vw;
}