#componentContainer {
    margin-top: 9vh;
    height: calc(100vh - 9vh);
    overflow-y: auto;
    overflow-x: hidden;
    transition: margin-top 650ms ease-in-out;
}

/* Mobile, Tablet and Smaller Desktop*/
@media (max-width: 1120px) {
    #componentContainer {
        margin-top: 9vh;
        height: calc(100vh - 9vh);
    }
}