.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 80%;
    gap: 7px;

    padding-bottom: 15px;
    padding-top: 15px;
}

.inputLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}