.button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    border-width: 0px;

    outline: none;

    background-color: transparent;
    overflow: hidden;
}

.symbolContainer {
    position: absolute;
    left: 4%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.symbol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 70%;
}

.textContainer {
    position: absolute;
    right: 4%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
}

.textInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    position: relative;
    top: 0;
    left: 0;

    word-wrap: break-word;

    width: 100%;
    height: 100%;

    border: none;
    outline: none;

    cursor: text;

    overflow: hidden;
}