.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    outline-style: solid;
    outline-width: 1px;
    border-width: 0px;

    border-radius: 4px;
    background-color: transparent;
}

.symbolContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    height: 100%;
}

.symbol {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 70%;
    border-radius: 100%;
}

.textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 80%;
}