#container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    position: absolute;

    width: 270px;
    height: 70px;

    padding: 0.5rem;

    border-radius: 0.5rem;
    border: dashed red 1px;
    background-color: var(--body-background-color);
    overflow: hidden;
    gap: 0.5rem;

    transition: top 400ms ease-in-out;
}

#avatarContainer {
    width: 25%;
}

#infos {
    width: 75%;
    align-items: flex-start;
    gap: 0.4rem;
}

#name {
    width: 95%;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#progressBarContainer {
    width: 95%;
    height: 5px;
    background-color: rgb(155, 155, 155);
    outline: solid 1px black;
    border-radius: 2rem;
    overflow: hidden;
}

#bar {
    width: 100%;
    height: 100%;
    background-color: rgb(60, 212, 146);
    border-radius: 2rem;
    position: relative;
    transition: left 300ms ease-in-out;
}