#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    position: fixed;

    transition: all 200ms ease-in-out;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#tabContainer {
    position: absolute;
    right: 132px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;

    width: 127px;
    height: 43px;

    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left: solid var(--primary) 1px;
    border-top: solid var(--primary) 1px;
    border-bottom: solid var(--primary) 1px;
    background-color: var(--body-background-color);
    cursor: pointer;
    transition: right 200ms ease-in-out;
    z-index: 5;
}

#tabContainer:hover {
    right: 136px;
}

#tabContainer p {
    pointer-events: none;
}

#playersContainer {
    position: absolute;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 11.5px;
    border: solid var(--primary) 1px;
    border-bottom-left-radius: 0.5rem;
    background-color: var(--body-background-color);

    width: auto;
    max-height: 75vh;
    overflow-y: scroll;
}

#players {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#playersContainer::-webkit-scrollbar {
    width: 3.5px;
}

#playersContainer::-webkit-scrollbar-track {
    background-color: var(--body-background-color);
    border-radius: 5rem;
}

#playersContainer::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 5rem;
}

#playersContainer::-webkit-scrollbar-thumb:hover {
    background-color: #9c9c9c;
}