#editorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

#editorHead {
    border: red dashed 2px;
    width: 100%;
    height: 15%;
    min-height: 50px;
}

#editorBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
    border: white dashed 2px;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 15%;
    min-width: 200px;
    height: 100%;
    border: blue dashed 2px;
    overflow: auto;
}

#slidesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.slideContainer {
    display: flex;
    width: 100%;
    height: 160px;
}

.currentSlide {
    background-color: #97bad7
}

.notInDragNDrop {
    transition: background-color 300ms ease;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 20%;
    padding-bottom: 15px;
}

.showOnHover {
    opacity: 0;
    transition: opacity ease 300ms;
}

.slide {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slideBoard {
    width: 155px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: solid 3px;
    outline-color: transparent;
    transition: outline-color ease 300ms;
}

#colorPicker {
    width: 150px;
    height: 150px;
}

#addProfileButton {
    width: 50%;
    font-size: 13px;
    line-height: 17px;
    margin-top: 10px;
}

#addQuestionButton {
    width: 50%;
    font-size: 13px;
    line-height: 17px;
    margin-top: 10px;
}

#middleContainer {
    width: 70%;
    height: 100%;
    border: green dashed 2px;
}

#rightContainer {
    width: 15%;
    min-width: 200px;
    height: 100%;
    border: yellow dashed 2px;
}

.slideImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 75px;
    height: 45px;

    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px;
    overflow: hidden;
}

.slideImgContainer img {
    position: relative;
    display: flex;
    width: 100%;
}

/* HOVER */

.slideContainer:hover .showOnHover {
    opacity: 1;
}

.slideBoard:hover {
    outline-color: rgb(104, 104, 104);
}