#editorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

#editorHead {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    top: 100px;

    width: 60%;
    height: 15%;
    z-index: 100;
}

#editorBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#slidesContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.slideContainer {
    display: flex;
    width: 100%;
    height: 160px;
}

.currentSlide {
    background-color: #97bad7
}

.notInDragNDrop {
    transition: background-color 300ms ease;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 20%;
    padding-bottom: 15px;
}

.showOnHover {
    opacity: 0;
    transition: opacity ease 300ms;
}

.slide {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slideBoard {
    width: 155px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-top: 9%;

    gap: 5px;

    outline: solid 3px;
    outline-color: transparent;
    transition: outline-color ease 300ms;
}

#colorPicker {
    width: 150px;
    height: 150px;
}

.nameMiniContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.5);
    border: solid rgba(255, 255, 255, 0.5) 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}

.nameMiniContainer h5 {
    margin-top: -1px;
    margin-bottom: -1px;
}

#addProfileButton {
    width: 50%;
    font-size: 13px;
    line-height: 17px;
    margin-top: 10px;
}

#addQuestionButton {
    width: 50%;
    font-size: 13px;
    line-height: 17px;
    margin-top: 10px;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow: auto;

    background-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 30px 0px black;

    transition: width 300ms ease;
}

#middleContainer {
    height: 100%;
    padding-top: 11%;
    transition: width 300ms ease;
}

#rightContainer {
    height: 100%;
    background-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 30px 0px black;
    transition: width 300ms ease;
}

.slideImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 75px;
    height: 45px;

    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px;
    overflow: hidden;
}

.slideImgContainer img {
    position: relative;
    display: flex;
    width: 100%;
}

.slideImgPlaceholder {
    box-shadow: 0px 0px 0px 0px;
    border: dashed rgba(255, 255, 255, 0.8) 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

#infoBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: relative;

    bottom: -10px;
    left: 50px;
    gap: 10px;
    width: 72%;
    height: 100%;
}

#infoBody p {
    width: 100%;
    height: 25%;
    font-size: 14px;
    text-align: start;
}

/* HOVER */

.slideContainer:hover .showOnHover {
    opacity: 1;
}

.slideBoard:hover {
    outline-color: rgb(104, 104, 104);
}