#editorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

#editorBody {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

#slidesContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-bottom: 1.5rem;
}

.slideContainer {
    display: flex;
    width: 100%;
    height: 160px;
    cursor: pointer;
}

.currentSlide {
    background-color: #97bad7
}

.notInDragNDrop {
    transition: background-color 300ms ease;
}

.buttonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 17%;
    padding-bottom: 8%;
}

.showOnHover {
    opacity: 0;
    transition: opacity ease 300ms;
}

.slide {
    position: relative;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slideBoard {
    position: relative;

    width: 160px;
    height: 100px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    outline: solid 3px;
    outline-color: transparent;
    transition: outline-color ease 300ms;
    padding: 3%;
}

.nameMiniContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.5);
    border: solid rgba(255, 255, 255, 0.5) 2px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    margin-bottom: 7%;
    margin-top: 3%;
}

.nameMiniContainer h5 {
    margin-top: -2px;
    margin-bottom: -2px;
}

#addProfileButton {
    margin-top: 1rem;
    font-size: 13px;
    line-height: 17px;
}

#addQuestionButton {
    margin-top: 1rem;
    font-size: 13px;
    line-height: 17px;
}

#leftContainer {
    position: absolute;
    left: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 220px;
    overflow: auto;

    background-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 30px 0px black;

    transition: left 300ms ease;
}

#rightContainer {
    position: absolute;
    right: 0px;

    height: 100%;
    width: 220px;
    background-color: rgb(227, 227, 227);
    box-shadow: 0px 0px 30px 0px black;
    transition: right 300ms ease;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1rem;
}

.slideImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 47%;
    height: 50%;

    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px;
    margin-top: 9%;
    overflow: hidden;
}

.slideQuestionImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 31%;
    height: 30%;

    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px;
    overflow: hidden;
}

.slideImgContainer img {
    position: relative;
    display: flex;
    width: 100%;
}

.slideImgPlaceholder {
    box-shadow: 0px 0px 0px 0px;
    border: dashed rgba(255, 255, 255, 0.8) 1px;
    background-color: rgba(255, 255, 255, 0.3);
}

#infoBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    position: relative;

    margin-top: 10px;
    gap: 10px;
    width: 72%;
    height: 100%;
}

.infoLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stepInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.infoText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 14px;
    text-align: start;
    margin-left: 15px;
}

.questionsContainer {
    width: 95%;
    height: 13%;
}

.fileInputContainer {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editorOptionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 95%;
    height: 50%;
    gap: 15px;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 95%;
    height: 50%;
    gap: 15px;
}

.addExtraOptionsButton {
    width: 295px;
}

.optionsRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    width: 100%;
    height: 50%;
}

.optionsRowSlide {
    gap: 5px;
}

.rowExtraOptions {
    height: 33.33333333333333%;
}

.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    padding-bottom: 1rem;
    gap: 0.6rem;
}

.inputTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
    gap: 2%;
}

.inputLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#editorHead {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 12%;
    padding-top: 1%;
}

#middleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: calc(100% - 440px);
    transition: all 300ms ease;
    overflow-y: auto;
    overflow-x: hidden;
}

.middleAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    width: 100%;
    height: 88%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

#middleZero {
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 7%;
}

#middleOne {
}

#middleTwo {
}

#middleFour {
}

.finalContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--global-white);
    height: 80%;
    width: 50%;
    border-radius: 0.5rem;
}

.optionsContainerSlide {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 40%;
    gap: 5px;
    pointer-events: none;
}

.optionsQuestionsSlide {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 42%;
    gap: 5px;
    pointer-events: none;
}

.miniQuestion {
    width: 100%;
    height: 18%;
    margin-top: 10%;
}

.divider {
    position: relative;
    width: 90%;
    height: 0.1rem;
    border-radius: 10rem;
    background-color: black;
    opacity: 0.5;
    margin-bottom: 1rem;
}

.actionsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
}

/* HOVER */

.slideContainer:hover .showOnHover {
    opacity: 1;
}

.slideBoard:hover {
    outline-color: rgb(104, 104, 104);
}

.menuItemColorful:hover {
    opacity: 0.85;
}

/* Mobile and Small Window */
@media (max-width: 800px) {
    #leftContainer {
        bottom: 0px;
        height: 220px;
        width: 100%;
    }

    #rightContainer {
        width: 0px;
    }

    #slidesContainer {
        flex-direction: row;
    }

    .optionsRow {
        flex-direction: column;
    }
}