.step {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #616161;
    border-radius: 100%;
    cursor: pointer;
    transition: all 500ms ease;
}

.labels {
    position: absolute;
    left: -57px;
    bottom: -22px;
    width: 160px;
    font-size: 11px;
    transition: all 500ms ease;
}