.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 500ms ease,
}

.incompleteContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    transition: all 500ms ease,
}

.completeContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    transition: all 500ms ease,
}

.stepPath {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    transition: all 500ms ease,
}

.path {
    position: relative;
    display: flex;
    background-color: #616161;
    transition: all 500ms ease,
}