@font-face {
  font-family: montserrat-regular;
  src: url(../../public/Montserrat-Regular.ttf);
}

@font-face {
  font-family: montserrat-extrabold;
  src: url(../../public/Montserrat-ExtraBold.ttf);
}

:root {
  --body-background: #8a8a8a;
  --body-background-color: #1c222c;
  --body-background-size: 1em 1em;
  --global-white: #e5e5e5;
  --global-black: #1d1d1d;
  --text-black: #0a0a0a;
  --text-white: #e5e5e5;
  --text-color: var(--text-black);
  --global-modal-background: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --body-background-color: #e2e2e2;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #585858;
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #bababa;
  border-radius: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}

body {
  background: var(--body-background);
  background-color: var(--body-background-color);
  background-size: var(--body-background-size);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat-regular;
  text-align: center;
  color: var(--text-color);
}

input {
  text-align: center;
}

button {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}

@media (prefers-color-scheme: dark) {}