#sectionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-align: center;
    height: calc(100vh - 80px);
    overflow: hidden;
}

#scrollDiv {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
}

/* #scrollDiv::-webkit-scrollbar {
    display: none;
} */

#insideScrollDiv {
    height: 200%;
}

.section {
    display: flex;
    width: 100%;
    height: 450px;
    flex-direction: row;
    align-items: center;

    background-color: var(--logo-color);
    border-bottom: 1px black solid;
}

#zero {
    height: 65%;
}

#one {
    height: auto;
}

#demoTitle {
    width: 50%;
}

#pcCelImg {
    width: 740px;
    position: relative;
    bottom: -39.5px;
    left: -70px;
    pointer-events: none;
}

#crowdContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#crowdImg {
    position: relative;
    width: 100%;
    pointer-events: none;
}

#telaImg {
    position: absolute;
    width: 48%;
    bottom: 50%;
    left: 29%;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 20px 0px black;
    pointer-events: none;
}

/* Mobile, Tablet and Smaller Desktop*/
@media (max-width: 1120px) {
    #sectionsContainer {
        height: calc(100vh - 60px);
    }
}