#main {
    gap: 1rem;
}

#bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 10%;

    height: 100%;
    width: 85%;
    gap: 7%;
}

#headContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 85%;
}

#footContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    width: 85%;
}

#privateAndInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 15%;
    gap: 1rem;
}

#nameInput {
    width: 80%;
    height: 15%;
}

#privateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 40%;
    height: 100%;
}

#privateContainer input {
    position: relative;
    bottom: -2px;
}

#selectQuiz {
    width: 80%;
}

#controlContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 80%;
    height: 15%;
}

#controlContainer input {
    position: relative;
    bottom: -2px;
}

#password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#customLabel {
    color: #e5e5e5;
}

#customLabelFocused {
    color: #009fda;
}

#customLabel:hover {
    color: #ffffff;
}

#bodyContainer span,
#footContainer button {
    transition: font-size 500ms ease-in-out;
}

#bodyContainer span {
    font-size: 18px;
}

/* Mobile */
@media (max-width: 360px) {
    #bodyContainer span {
        font-size: 14px;
    }

    #footContainer button {
        font-size: 9px;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 361px) and (max-width: 700px) {
    #bodyContainer span {
        font-size: 16px;
    }
}