.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-top: 20%;

    height: 100%;
    width: 85%;
    gap: 7%;
}

.headContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 85%;
}

.footContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    width: 85%;
}

.privateAndInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 10%;
}

.nameInput {
    width: 80%;
}

.labelCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 40%;
    height: 100%;
}

.labelCheckbox input {
    position: relative;
    bottom: -2px;
}

.selectQuiz {
    width: 80%;
}