.container {
    padding-bottom: 3rem;
    --text-color: var(--text-white);
}

.roomName {
    margin-bottom: 1rem;
}

.watingContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 350px;
}

.watingMsg {
    text-align: start;
    width: 335px;
}

.questionContainer {
    margin-bottom: 1rem;
}

.optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    --text-color: var(--text-black);
}

.option {
    background-color: var(--global-white);
    border-radius: 0.5rem;

    width: 250px;
    height: 40px;

    transition: background-color 200ms ease-in-out;
}

.optionSelected {
    background-color: #a6b8fb;
    outline: 2px;
    outline-style: solid;
    outline-color: #1934a9;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.resultContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 400px;
    height: 400px;
}

.layoutItem {
    width: 75%;
    height: 75%;
    border: dashed red;
}

.pieContainer{
    width: 100%;
    height: 100%;
}

.imgTitleContainer {
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.resultImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
    height: 80%;
    border-radius: 0.5rem;
    overflow: hidden;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(197, 197, 197);
}

.resultImgContainer img {
    width: 100%;
    height: auto;
}