#container {
    height: 100%;
    width: 100%;
}

#sessionContainer {
    height: 100%;
    width: 100%;
}

#optionsContainer {
    --size: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: calc(var(--size) * 4);
    height: var(--size);
    /* min-width: 960px; */
    border-style: dashed;
}

.gameOption {
    width: var(--size);
    height: var(--size);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 0.5rem;

    background-color: rgba(0, 255, 225, 0.42);

}

.gameOption h2 {
    margin-top: 20%;
    font-size: calc(var(--size) / 7);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .gameOption {
        cursor: pointer;
    }
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}